# Python package
# Create and test a Python package on multiple Python versions.
# Add steps that analyze code, save the dist with the build record, publish to a PyPI-compatible index, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/python

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'
strategy:
  matrix:
    Python27:
      python.version: '2.7'

steps:
- task: UsePythonVersion@0
  inputs:
    versionSpec: '$(python.version)'
  displayName: 'Use Python $(python.version)'

- script: |
    python -m pip install --upgrade pip
    pip install -r ./docs/source/requirements.txt
  displayName: 'Install dependencies'

#- script: |
#    pip install pytest pytest-azurepipelines
#    pytest
#  displayName: 'pytest'

- script: |
    cd docs
    make html
  displayName: 'Make html'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)/docs/build'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    CleanTargetFolder: true
    OverWrite: true
  displayName: 'Copy built files'

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/html'
    ArtifactName: 'html'
    publishLocation: 'Container'
  displayName: 'Publish html artifacts'

- task: Bash@3
  inputs:
    targetType: 'inline'
    script: |     
      BUILD_ID=$(Build.BuildId)
      
      echo "Create htaccess file for $BUILD_URL and $BUILD_ID"

    workingDirectory: '$(Build.SourcesDirectory)'
    failOnStderr: true
  displayName: 'Generate htaccess'


- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)/.htaccess'
    ArtifactName: 'htaccess'
    publishLocation: 'Container'
  displayName: 'Publish htaccess artifact'
